<div class="reg-container">
  <form [formGroup]="regForm" (ngSubmit)="onRegister()" class="reg-form">
    <div class="logo-wrapper">
      <img src="assests/dpulselogo.png" alt="Doctor App Logo" />
    </div>

    <h2 style="text-align: center; color: #333">User Registration</h2>

    <div class="form-row">
      <div class="input-group">
        <label for="fName">First Name</label>
        <input id="fName" formControlName="firstName" placeholder="Enter first name" />
      </div>
      <div class="input-group">
        <label for="lName">Last Name</label>
        <input id="lName" formControlName="lastName" placeholder="Enter last name" />
      </div>
    </div>

    <div class="form-row">
      <div class="input-group">
        <label for="spec">User Type</label>
        <input id="spec" formControlName="role" placeholder="e.g. DOCTOR" />
      </div>

      <div class="input-group">
        <label for="gender">Gender</label>
        <select id="gender" formControlName="gender">
          <option value="" disabled selected>Select Gender</option>
          <option value="Male">male</option>
          <option value="Female">female</option>
          <option value="Other">other</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="input-group">
        <label for="mob">Mobile Number</label>
        <input id="mob" formControlName="mobileNumber" placeholder="Contact number" />
      </div>
      <div class="input-group" >
        <label for="email">Email Address</label>
        <input id="email" formControlName="email" type="email" placeholder="Email id" />
      </div>
    </div>

    <div class="form-row">
      <div class="input-group">
        <label for="pwd">Password</label>
        <input id="pwd" formControlName="password" type="password" placeholder="set password" />
      </div>

      <div class="input-group">
        <label for="cpwd">Confirm Password</label>
        <input id="cpwd" formControlName="confirmPassword" type="password" placeholder="Repeat password" />
      </div>
    </div>

    @if (regForm.hasError('passwordMismatch') && regForm.get('confirmPassword')?.touched) {
      <p class="error-text">Passwords do not match!</p>
    } @else if (regForm.get('confirmPassword')?.valid && !regForm.hasError('passwordMismatch')) {
      <p class="success-text">Passwords matched!</p>
    }

    <button type="submit" [disabled]="regForm.invalid">Register</button>
  </form>
</div>